
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DadosUsuario2</title>
</head>
<body>
    <h1>Meus Dados 2</h1>

    <p>Data: @ViewBag.data</p>
    <p>Id: @ViewBag.valor</p>
    <p>Nome: @ViewBag.nome</p>


</body>
</html>
