@model AulaRotas.Models.UsuarioModel;

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Dados Usuario</title>
</head>
<body>
    <h1>Dados Usuário</h1>
    <p>
        @ViewData["valor"]
    </p>
    <p>
        @ViewData["nome"]
    </p>

    <p>
        @{ 
            
        }
    </p>
</body>
</html>
