@model  List<App21.Model.Aluno>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <h1>Dados do aluno</h1>
    <hr />
    <p>Alunos Cadastrados: @Model.Count() </p>

    @foreach (var alunosCadastrados in Model)
    {
        <p>Aluno: @alunosCadastrados.nome</p>
    }

</body>
</html>
