
@{
    ViewData["Title"] = "Index";
}

<h2>MENU INICIAL</h2>



<p><a asp-action="Pg1">Página 1</a></p>

<p><a asp-action="Pg2">Página 2</a></p>

<p><a asp-action="Pg3">Página 3</a></p>



<hr />
<iframe allow="microphone;"
        width="350"
        height="430"
        src="https://console.dialogflow.com/api-client/demo/embedded/21490b71-6082-4373-8990-681c7e4b5572">
</iframe>