
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_parte1</title>
</head>
<body>
    <h3>Esse texto vem de outra página.</h3>
</body>
</html>
