@model App22.Models.Cliente

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Detalhes</title>
</head>
<body>
    <h2>Cliente</h2>
    <p>Cliente escolhido: @Model.Matricula @Model.Nome @Model.Cargo</p>
    <hr />
    <a asp-action="index">Voltar</a>
</body>
</html>
