<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <p>Este é o Layout (shared_1) </p>
    <div>
        @RenderBody()
    </div>
    <p>Este é o Layout (shared_2) </p>

</body>
</html>
